body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #646464;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 45px;
}

input {
    padding: 10px;
    width: 210px;
}

button {
    padding: 8px 12px;
    cursor: pointer; 
}


.spinner {
    width: 300px;
    height: 300px;
    border: 10px solid #350707;
    border-top: 5px solid #533b3b;
    border-radius: 50%;
    margin: 20px auto;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.country-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.country-card img {
    width: 150px;
    margin-top: 10px;
}


.border-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
}

.border-card {
    background: rgb(12, 12, 12);
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(133, 133, 133, 0.1);
}

.border-card img {
    width: 80px;
}


.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}


.hidden {
    display: none;
}